body {
  margin: 0;
  font: 20px 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: #1c1c1c;
}

.list { list-style: none; }

.link { text-decoration: none; }

.ad__like {
  cursor: pointer;
  float: right;
}

.ad__like_yes { color: #5800ff; }

.ad__like_no { color: #757575; }

.text_hidden { display: none; }

.selected { color: #5800ff; }

.btn {
  border: none;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.btn__text { margin-right: 20px; }

.btn_big {
  padding: 10px 50px;
  background: #5800ff;
  border-radius: 30px;
  margin: 0 30px;
  font-weight: 800;
  color: #fff;
}

.btn_fixed {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #5800ff;
  color: #fff;
}

.header {
  box-shadow: 0 8px 8px 0 rgba(62, 72, 88, 0.24);
  height: 50px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

.header__icon { cursor: pointer; }

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 30px;
}

.ad__item {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(62, 72, 88, 0.24);
  border-radius: 3px;
  padding: 30px;
}

.ad { margin-bottom: 50px; }

.ad__header {
  display: flex;
  align-items: center;
}

.ad__section {
  padding: 10px;
  background: #d8d8d8;
  font-size: 16px;
}

.ad__text { padding-left: 20px;}

.ad__date {
  font-size: 16px;
  color: #9d9d9d;
}

.ad__btc { text-transform: uppercase; }

.title { margin: 40px 0; }

.locked { pointer-events: none; }

.footer {
  margin-top: 50px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.footer__list {
  padding: 30px 0;
}

.footer__item {
  padding: 10px 0;
}

.footer__link {
  color: #b1b1b1;
  font: 16px 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}

.footer__link:hover { color: #000; }

.fake_img {
  margin-top: 40px;
  width: 150px;
  height: 120px;
  background: #f0f8ff;
}

.myAd__text { margin: 80px 0; }