.header__title {
  margin: 0;
  text-align: center;
  font-weight: 700;
}

.menu {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100vh;
}

.menu__header { justify-content: center; }

.menu__list {
  margin-top: 50px;
  padding: 0 20px;
}

.menu__item {
  cursor: pointer;
  padding: 20px 10px;
}

.menu__item:hover .menu__link { color: #5800ff; }

.menu__link {
  display: block;
  width: 100%;
  color: #1c1c1c;
}

.menu__count { margin-left: 15px; }

.menu__logo_wrap {
  width: 6rem;
  height: 2.3rem;
  margin-left: 60px;
}

.menu__logo {
  width: inherit;
  height: inherit;
}

.btn__close {
  position: absolute;
  left: 30px;
  outline: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  float: left;
  -webkit-appearance: none;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #4a4a4a;
  filter: alpha(opacity=20);
}

.link_active {
  color: #5800ff;
  font-weight: 700;
}

.btn__quit {
  background: none;
  color: #9b9b9b;
  padding: 10px 10px;
}

.btn__quit:hover { font-weight: 700; }

.btn__quit:active { background: #f0f8ff; }
